@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variable */
:root {
  --accent-color: #EF4444;
  --success-color: #52C040;
  --white-color: #FFF;
  --major-text-color: #2c2c2c;
  --normal-text-color: #4B4B4B;
  --minor-text-color: #6e6e6e;
  --micro-text-color: #D7D7D7;
  --gray-element: #E2E2E2;
  --gray-backdrop: #f9fafb;
}

/* Color */
.--major-text-white {
  color: var(--white-color);
}

.--major-text-color {
  color: var(--major-text-color);
}

.--normal-text-color {
  color: var(--normal-text-color);
}

.--minor-text-color {
  color: var(--minor-text-color);
}

.--gray-border-element {
  border-color: var(--gray-element);
}
.--gray-background-element {
  background-color: var(--gray-element);
}

.--accent-text-color {
  color: var(--accent-color);
}

.--accent-background-color {
  background-color: var(--accent-color);
}

.--accent-border-color {
  border-color: var(--accent-color);
}

.--accent-background-gradient {
  @apply --major-text-white bg-gradient-to-r from-red-500 to-red-300;
}

.--accent-rounded {
  @apply rounded-md
}

/* Typo */
.typo {
  @apply normal-case
}

.typo.typo--snail {
  font-size: 0.875rem;
}

.typo.typo--mouse {
  font-size: 1rem;
}

.typo.typo--otter {
  font-size: 1.25rem;
}

.typo.typo--dolphin {
  font-size: 1.625rem;
}

.typo.typo--hippo {
  font-size: 2rem;
}

.typo.typo--mammoth {
  font-size: 3rem;
}

/* Components */
.center {
  @apply max-w-xl mx-auto flex justify-center items-center selection:bg-red-500 selection:text-white
}

.center .center__item {
  background-color: var(--gray-backdrop);
  @apply font-sans w-full flex justify-center items-center p-12 mx-5 my-10 --accent-rounded shadow-sm 
}

.gallery {
  @apply flex
}

.gallery.gallery--row {
  @apply flex-row gap-2
}

.gallery.gallery--col {
  @apply flex-col gap-4
}

/* ScrollBar */
.scroll-bar::-webkit-scrollbar-track {
	box-shadow: none;
	background-color: rgba(0, 0, 0, 0.10);
  border-radius: 8px;
}
.scroll-bar::-webkit-scrollbar {
	width: 6px;
	height: 6px;
	background-color: #FFF;
  border-radius: 8px;
}
.scroll-bar::-webkit-scrollbar-thumb {
	background-color: #6E6F73;
	border: 0px solid #fff;
  border-radius: 8px;
  box-shadow: none;
}

/* Button */
.btn {
  @apply text-sm transition-all duration-75 ease-in opacity-75 hover:opacity-100 py-1 px-3 inline-flex justify-center items-center gap-1 outline-none font-medium uppercase
}

.btn.btn--rounded {
  @apply rounded-full
}

.btn.btn--square {
  @apply --accent-rounded
}

.btn.btn--normal {
  @apply w-auto
}

.btn.btn--full {
  @apply w-full
}

.btn.btn--primary {
  @apply --accent-background-gradient shadow
}

.btn.btn--secondary {
  @apply --accent-background-color --major-text-white shadow
}

.btn.btn--tertiary {
  @apply border --accent-border-color --accent-text-color shadow
}

.btn.btn--ghost {
  @apply --accent-text-color
}

.btn .btn__icon {
  @apply w-4 h-4
}


/* FAB */
.fab.fab--bl {
  @apply bottom-2 left-2
}

.fab.fab--br {
  @apply bottom-2 right-2
}

.fab.fab--tl {
  @apply top-2 left-2
}

.fab.fab--tr {
  @apply top-2 right-2
}

/* Modal */
.modal {
  @apply z-10 fixed box-border overflow-hidden inset-0 outline-none
}

.modal .modal__container {
  @apply relative flex h-full w-full justify-center items-center my-10 --minor-text-color 
}

.modal .modal__container .modal__backdrop {
  @apply z-20 bg-gray-700 opacity-20 absolute h-full w-full
}

.modal .modal__container .modal__dialog {
  @apply z-30 relative w-full max-w-xs max-h-full bg-white --accent-rounded shadow p-3 flex flex-col items-center capitalize
}

.modal .modal__container .modal__dialog .modal__header {
  @apply  typo typo--otter font-bold --major-text-color w-full text-left
}
.modal .modal__container .modal__dialog .modal__body {
  @apply w-full typo typo--snail font-normal --minor-text-color
}

.modal .modal__container .modal__dialog .modal__close-btn {
  @apply absolute cursor-pointer --accent-text-color font-medium top-1.5 right-1.5
}

/* Card */
.card {
  @apply rounded-xl
}

.card.card .card__container {
  @apply px-5 py-4 flex flex-col gap-1
}
.card.card .card__container .card__header {
  @apply typo typo--otter font-bold --major-text-color w-full text-left
}
.card.card .card__container .card__description {
  @apply typo typo--snail font-normal --minor-text-color w-full text-left line-clamp-2
}

.card.card--vertical {
  @apply shadow max-w-xs flex flex-col
}
.card.card--vertical .card__img {
  @apply rounded-t-xl h-52 w-full
}

.card.card--horizontal {
  @apply shadow max-w-xs flex flex-row
}
.card.card--horizontal .card__img {
  @apply rounded-l-xl h-52 w-2/4 object-cover
}

/* Dropdown */
.dropdown {
  @apply inline-block text-left my-1 w-28
}

.dropdown .dropdown__input {
  @apply z-0 h-8 inline-flex justify-between items-center w-full px-4 py-0.5 border --gray-border-element bg-white --accent-rounded focus:outline-none transition-colors
}

.dropdown .dropdown__input__field {
  @apply capitalize ml-4 text-sm --minor-text-color text-center pointer-events-none outline-none w-full bg-transparent
}

.dropdown .dropdown__input__icon {
  @apply -mr-2 ml-2 h-6 w-6 --minor-text-color
}

.dropdown .dropdown__backdrop {
  @apply z-10 opacity-0 invisible transition-all duration-300 transform origin-top-right -translate-y-2 scale-95
}

.dropdown:focus-within .dropdown__backdrop {
  opacity: 1;
  transform: translate(0) scale(1);
  visibility: visible;
}

.dropdown .dropdown__backdrop .dropdown__items {
  @apply z-10 overflow-y-auto max-h-44 origin-top-right absolute left-0 mt-1 w-full --accent-rounded shadow bg-white focus:outline-none
}

.dropdown .dropdown__backdrop .dropdown__items .dropdown__item {
  @apply capitalize text-center hover:text-red-500 hover:bg-gray-100 cursor-pointer --minor-text-color block px-4 py-2 text-sm
}

/* Input */
.input .label__container {
  @apply flex flex-row justify-between items-center
}

.input .label__container .label {
  @apply capitalize font-semibold text-sm --minor-text-color
}

.input .label__container .error {
  @apply --accent-text-color w-4 h-4 mr-1
}

.input .input__field {
  @apply relative
}

.input .input__field .input__icon {
  @apply absolute top-2 left-1 --minor-text-color
}
.input .input__field .input--icon {
  @apply text-sm --major-text-color font-medium border --gray-border-element --accent-rounded py-1 pl-8 pr-3 my-1 w-full outline-none
}

.input .input__field .input--non-icon {
  @apply text-sm --major-text-color font-medium border --gray-border-element --accent-rounded py-1 px-3 my-1 w-full outline-none
}

.input .input__field .input--datepicker {
  @apply text-sm --major-text-color font-medium border --gray-border-element --accent-rounded py-1 px-3 my-1 w-56 outline-none
}

.input .input__field .input--password {
  @apply absolute top-3 right-1.5 --major-text-color
}

.input .input__field .input--date-icon {
  @apply absolute top-3 right-1.5 --minor-text-color
}

/* OTP */
.otp .otp__input {
  @apply --major-text-color !important
}

/* Datepicker */
.datepicker__backdrop {
  @apply opacity-0 absolute bg-white z-10 w-full h-full
}

.input .datepicker__container {
  @apply transition-all duration-75 bg-white mt-14 --accent-rounded shadow pl-4 pr-2 py-2 absolute top-0 left-0 w-full
}

.input .datepicker__container .datepicker__header {
  @apply flex justify-between items-center mb-2
}

.input .datepicker__container .datepicker__header .datepicker__month {
  @apply text-sm font-bold --major-text-color
}

.input .datepicker__container .datepicker__header .datepicker__year {
  @apply ml-1 text-sm --major-text-color font-bold
}

.input .datepicker__container .datepicker__header .datepicker__icon {
  @apply w-5 h-5 --accent-text-color
}

.input .datepicker__container .datepicker__days {
  @apply flex
}

.input .datepicker__container .datepicker__days .datepicker__day {
  @apply text-xs font-semibold text-center pointer-events-none select-none --minor-text-color
}

.input .datepicker__container .datepicker__dates {
  @apply flex flex-wrap -mx-1
}

.input .datepicker__container .datepicker__dates .datepicker__blank-date {
  @apply flex justify-center items-center text-xs h-7 rounded-full
}

.input .datepicker__container .datepicker__dates .datepicker__date {
  @apply flex cursor-default justify-center items-center text-xs h-7 rounded-full font-bold
}
.input .datepicker__container .datepicker__dates .datepicker__date.--inactive {
  @apply --normal-text-color
}
.input .datepicker__container .datepicker__dates .datepicker__date.--active {
  @apply --accent-background-color --major-text-white
}

/* Table */
.table {
  @apply bg-white p-4 shadow-sm --accent-rounded relative
}
.table .table_container {
  @apply w-full whitespace-nowrap
}
.table .table_container .table__head {
  @apply sticky top-0 bg-white shadow-sm 
}
.table .table_container .table__head .table__head-items {
  @apply h-auto text-sm leading-none bg-white --minor-text-color focus:outline-none
}
.table .table_container .table__head .table__head-items .table__head-item {
  @apply font-medium text-base p-2 uppercase
}
.table .table_container .table__body {
  @apply capitalize
}
.table .table_container .table__body .table_body-item {
  @apply h-10 text-sm leading-none --minor-text-color bg-white border-b border-gray-100 focus:outline-none
}
.table .table__endline {
  @apply flex justify-center items-center
}
.table .table__endline .table__endline--line {
  @apply h-0.5 border-none w-1/3 bg-gray-100 rounded-full mt-4 mb-2
}


/* Checkbox */
.checkbox {
  @apply flex gap-2 items-center justify-start
}

.checkbox .checkbox__container {
  @apply w-5 h-5 rounded flex items-center justify-center
}

.checkbox .checkbox__container .checkbox__icon {
  @apply --major-text-white bg-transparent w-3.5 h-3.5 transition-all duration-150 ease-out
}

.checkbox .checkbox__input {
  @apply sr-only
}

.checkbox .checkbox__label {
  @apply typo typo--otter transition-all duration-150 --minor-text-color
}

/* Tabs */
.tab {
  @apply bg-gray-200 text-xs --minor-text-color leading-none border-2 --gray-border-element rounded-full inline-flex
}

.tab .tab__container {
  @apply gap-1 inline-flex items-center transition-colors duration-150 ease-in focus:outline-none hover:text-red-500 focus:text-red-500 rounded-full px-3 py-1
}

.tab .tab__label {
  @apply text-base uppercase
}

/* Chip AKA Tag */
.tag {
  @apply flex justify-start flex-wrap gap-2 mt-2
}

.tag .tag__container .tag__status {
  @apply sr-only
}

.tag .tag__container .tag__label {
  @apply transition-all duration-100 ease-out flex gap-1 justify-center items-center border-none cursor-pointer py-0.5 px-3 --accent-rounded
}

.tag .tag__container .tag__status~.tag__label {
  @apply opacity-75 bg-gradient-to-r from-gray-200 to-gray-200 --minor-text-color border-none;
}

.tag .tag__container .tag__status:checked~.tag__label {
  @apply opacity-100 bg-gradient-to-r from-red-500 to-red-300 --major-text-white border-none;
}

/* TagInput */
.tag-input {
  @apply flex flex-col bg-white border --gray-border-element p-1 w-auto max-w-xs --major-text-color outline-none
}

.tag-input .tag-input__input {
  @apply w-full outline-none bg-white py-1 px-2.5
}

.tag-input .tag-input__tags {
  @apply flex flex-row flex-wrap gap-1
}

.tag-input .tag-input__tags .tag-input__tag {
  @apply pl-3 pr-1.5 py-0.5 gap-1 flex items-center justify-center --accent-background-color --major-text-white shadow-sm
}

/* OTP */
.otp .otp__input {
  @apply --minor-text-color
}

/* Switch */
.switch {
  @apply relative inline-block w-16 align-middle select-none
}

.switch .switch__input {
  @apply transition-transform duration-75 ease-in absolute block w-6 h-6 rounded-full border-2 appearance-none cursor-pointer
}

.switch .switch__input:checked {
  background-color: #FFF !important;
  transform: translateX(16px) !important;
  border-color: var(--accent-color) !important;
}

.switch .switch__input {
  background-color: #FFF !important;
  transform: translateX(0px) !important;
  border-color: #e4e4e4 !important;
}

.switch .switch__input:checked+label.switch__label {
  background-color: var(--accent-color) !important;
}

.switch .switch__input+label.switch__label {
  background-color: #e4e4e4 !important;
}

/* Loading */
.loading {
  display: flex;
  justify-content: center;
  padding: 5px;
  position: relative;
}

.loading .loading__container__sk-chase {
  width: 40px;
  height: 40px;
  position: relative;
  animation: sk-chase 2.5s infinite linear both;
}

.loading .loading__container__sk-chase .loading__container__sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  animation: sk-chase-dot 2.0s infinite ease-in-out both;
}

.loading .loading__container__sk-chase .loading__container__sk-chase-dot:before {
  content: '';
  display: block;
  width: 25%;
  height: 25%;
  background-color: var(--accent-color);
  border-radius: 500px;
  animation: sk-chase-dot-before 2.0s infinite ease-in-out both;
}

.loading .loading__container__sk-chase .loading__container__sk-chase-dot:nth-child(1) {
  animation-delay: -1.1s;
}

.loading .loading__container__sk-chase .loading__container__sk-chase-dot:nth-child(2) {
  animation-delay: -1.0s;
}

.loading .loading__container__sk-chase .loading__container__sk-chase-dot:nth-child(3) {
  animation-delay: -0.9s;
}

.loading .loading__container__sk-chase .loading__container__sk-chase-dot:nth-child(4) {
  animation-delay: -0.8s;
}

.loading .loading__container__sk-chase .loading__container__sk-chase-dot:nth-child(5) {
  animation-delay: -0.7s;
}

.loading .loading__container__sk-chase .loading__container__sk-chase-dot:nth-child(6) {
  animation-delay: -0.6s;
}

.loading .loading__container__sk-chase .loading__container__sk-chase-dot:nth-child(1):before {
  animation-delay: -1.1s;
}

.loading .loading__container__sk-chase .loading__container__sk-chase-dot:nth-child(2):before {
  animation-delay: -1.0s;
}

.loading .loading__container__sk-chase .loading__container__sk-chase-dot:nth-child(3):before {
  animation-delay: -0.9s;
}

.loading .loading__container__sk-chase .loading__container__sk-chase-dot:nth-child(4):before {
  animation-delay: -0.8s;
}

.loading .loading__container__sk-chase .loading__container__sk-chase-dot:nth-child(5):before {
  animation-delay: -0.7s;
}

.loading .loading__container__sk-chase .loading__container__sk-chase-dot:nth-child(6):before {
  animation-delay: -0.6s;
}

@keyframes sk-chase {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sk-chase-dot {
  80%, 100% {
    transform: rotate(360deg);
  }
}

@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4);
  }

  100%, 0% {
    transform: scale(1.0);
  }
}